.about {
	display: flex;
	flex-direction: column;
}

.about__title {
	font-size: 2.3rem;
	margin: 10px 0;
}

.about__descr {
	margin: 0;
	font-size: 1.4rem;
	text-indent: 2rem;
	text-align: justify;
}
.about__descr ~ p {
	margin: 0;
	text-indent: 2rem;
}
